name: Backup Sanity
on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"
jobs:
  backup-dataset:
    runs-on: ubuntu-22.04
    name: Backup dataset
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 19
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Backup dataset
        run: "SANITY_AUTH_TOKEN=${{ secrets.SANITY_AUTH_TOKEN }} npx sanity dataset export production backups/backup-${{ steps.date.outputs.date }}.tar.gz"
      - name: Upload backup.tar.gz
        uses: actions/upload-artifact@v3
        with:
          name: backup-${{ steps.date.outputs.date }}
          path: backups/backup-${{ steps.date.outputs.date }}.tar.gz
          retention-days: 5
          # Fails the workflow if no files are found; defaults to 'warn'
          if-no-files-found: error
